{% extends "base.html" %}

{% block title %}
О проекте
{% endblock %}

{% block content %}
<h2>О проекте</h2>
<p>Данный проект создан с использованием языка Python и веб-фреймворка Flask.</p>
<p>Наша компания создана с целью помочь людям осуществить их желания по организации свадьбы. Компания создана в 2016 году, в этом году у нас юбилей, поэтому мы наняли новых разработчиков и изменили интерфейс.</p>
<p>Здесь вы можете выбрать варианты проведения свадьбы, которые вам понравятся. </p>
{% endblock %}