{% extends "base.html" %}

{% block title %}
Оформление | Wedding Day
{% endblock %}

{% block content %}

<section class="section">

<h2>Оформление свадьбы</h2>

<p style="text-align: center; max-width: 700px; margin: 0 auto 40px;">
    Выберите стиль оформления, который лучше всего
    отражает вашу историю и настроение.
</p>

<div class="cards">

    <div class="card">
        <h3>Нежная классика</h3>
        <p>
            Белый, кремовый и пудровый оттенки,
            свечи, цветы и элегантные детали.
        </p>
        <a href="#" class="button">Выбрать стиль</a>
    </div>

    <div class="card">
        <h3>Green Wedding</h3>
        <p>
            Натуральная зелень, дерево, живые цветы
            и природные оттенки.
        </p>
        <a href="#" class="button">Выбрать стиль</a>
    </div>

    <div class="card">
        <h3>Сумерки</h3>
        <p>
            Темные цвета, ощущение таинственности под большой луной.
            Тематические подарки для гостей и обилие декора.
        </p>
        <a href="#" class="button">Выбрать стиль</a>
    </div>

    <div class="card">
        <h3>Розовый сад</h3>
        <p>
            Много цветов, акцент на розах, лёгкие ткани, гирлянды
            и атмосфера летнего сада.
        </p>
        <a href="#" class="button">Выбрать стиль</a>
    </div>

</div>


</section>

{% endblock %}
