{% extends "base.html" %}

{% block title %}
Ведущий и программа | Wedding Day
{% endblock %}

{% block content %}

<section class="section">

<h2>Ведущий и свадебная программа</h2>

<div class="cards">

    <div class="card">
        <h3>Егор Крид</h3>
        <p>
            Ведущий романтичных и уютных свадеб без телефонов.
            Лёгкая атмосфера, современные конкурсы
            и индивидуальный сценарий. В конце свадьбы невеста поет вместе с ведущим песню "Папина дочка".
        </p>
        <p><strong>Опыт:</strong> 7 лет</p>
        <a href="#" class="button">Выбрать</a>
    </div>

    <div class="card">
        <h3>Сергей Орлов</h3>
        <p>
            Энергичный ведущий и комик для большой компании.
            Интерактивная программа и много общения
            с гостями.
        </p>
        <p><strong>Опыт:</strong> 4 лет</p>
        <a href="#" class="button">Выбрать</a>
    </div>

    <div class="card">
        <h3>Ксения Собчак</h3>
        <p>
            Спокойная элегантная, не голая программа без
            стандартных конкурсов и неловких моментов.
        </p>
        <p><strong>Опыт:</strong> 8 лет</p>
        <a href="#" class="button">Выбрать</a>
    </div>

</div>

<h2 style="margin-top: 60px;">Варианты программы</h2>

<div class="cards">

    <div class="card">
        <h3>Романтическая</h3>
        <p>
            Первый танец, живая музыка, лёгкие
            интерактивы и красивые традиции.
        </p>
    </div>

    <div class="card">
        <h3>Современная</h3>
        <p>
            DJ, интерактивы, фотозоны, танцевальная
            программа и современные развлечения.
        </p>
    </div>

    <div class="card">
        <h3>Камерная</h3>
        <p>
            Небольшое количество гостей, уютный вечер,
            общение и тёплая семейная атмосфера.
        </p>
    </div>

</div>

</section>

{% endblock %}
